page-login {
    .bg{
        background-image: url('../assets/imgs/login_bg.jpg');
        background-size: cover;
        color: color($colors, light);
    }
    .bg-overlay{
        position: absolute;
        top: 0; right:0; bottom: 0; left: 0;
        background-color: rgba(0,0,0,0.6);
    }
    .content-wrapper, .success-wrapper{
        position: relative;
        margin-top: 120px;
    }
    hr.divider {
        background-color: rgba(255,255,255,0.7);
    }
    .app-logo > img {
        max-width: 80px;
        max-height: 80px; 
    }
    .app-title {
        font-size: 2.2rem;
    }
    .app-subtitle{
        font-size: 1.4rem;
    }


    .success-wrapper{
        
    }
}
