<agm-map [id]="'google-map_' + canvasId" class="map-canvas" (mapReady)="onMapReady($event)">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
  <!-- <agm-marker *ngFor="let point of points | async; trackBy: trackByFn" [latitude]="point.position.geopoint.latitude" [longitude]="point.position.geopoint.longitude">
    <agm-info-window>
      <h1>This point is {{point.queryMetadata.distance}} kilometers from the center.</h1>
    </agm-info-window>
  </agm-marker> -->

</agm-map>

<ion-fab *ngIf="options?.controls?.locationUpdate" bottom right>
    <button ion-fab (click)="confirmLocation()" color="secondary-d2"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>

<div class="control-bar">
  <!-- Place Search Controls  -->
  <div class="control-container">
    <div class="control-searchbar-container">
      <ion-searchbar #searchbar [(ngModel)]="placeSearchInput" placeholder="Search Places" animated></ion-searchbar>
    </div>
  </div>
</div>

<div [id]="'complaint-info_' + canvasId" class="complaint-wrapper">
  <ion-card class="complaint-container">
    <ion-card-header ion-item>
      <img item-right class="complaint-icon" [src]="getImgSrc(currentComplaint?currentComplaint.categoryName:'')">
      {{currentComplaint? currentComplaint.categoryName : ''}}
    </ion-card-header>
    <ion-card-content>
      <div class="block-with-text">
        {{currentComplaint?.description}}
      </div>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="showCommentsModal()">
            <ion-icon name="text"></ion-icon>
            <div>{{currentComplaintSocialData?.commentCount || '0'}} Comments</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small (click)="onLikeBtnClick()" [disabled]="likeBtnDisabled">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{currentComplaintSocialData?.likeCount || '0'}} Likes</div>
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
            
            <button ion-button icon-only small (click)="viewImages()" *ngIf="currentComplaintImages?.length > 0">
                <ion-icon ios="ios-images" md="md-images" item-end></ion-icon>
              </button>
          <!-- <ion-note>
            {{currentComplaint ? getMomentFromNow(currentComplaint.created) : ''}}
          </ion-note> -->
        </ion-col>
        
        <ion-col col-12 *ngIf="currentComplaintImages?.length > 0">
          <div class="line-horizontal"></div>
          <ion-slides *ngIf="currentComplaintImages?.length > 0" #imageSlider   loop="true">
            <ion-slide *ngFor="let item of currentComplaintImages">
              <img [src]="item" style="display:initial">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>

<div id="complain-pin-bg" *ngIf="options?.controls?.complaint"></div>
<div id="complain-pin" *ngIf="options?.controls?.complaint"></div>

<!-- <button id="dev-button" ion-button (click)="onDevButtonClick()">DEV FUNC</button> -->