google-map-agm {
    .map-canvas{
        height: 100%;
    }

    .control-bar {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 5px;
        max-width: 420px;
    }

    .control-searchbar-container{
        display:flex;
    }  

    #complain-pin-bg{
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    #complain-pin{
        background-image: url("https://cdn3.iconfinder.com/data/icons/user-interface-icons-bundle-17/32/882-512.png");
        background-size: cover; 
        position: absolute; 
        bottom: 25px; 
        right: 15px; 
        width: 40px; 
        height: 40px;
        transition: left 0.05s ease-out, top 0.05s ease-out;
    }

    .complaint-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0; 
        overflow: hidden;
        max-width: 600px;
        transition: margin-top 0.3s ease-out;
        margin-top: -160px;
        padding-bottom: 5px;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
    .complaint-wrapper.show{
        margin-top: 0;
    }

    .complaint-wrapper > .complaint-container {
        max-height: 130px;
        transition: max-height 0.5s ease-in-out;
    }

    .complaint-container > ion-card-content {
        padding-bottom: 0;
    }

    #dev-button{ 
        position: absolute;
        left: 45%;
        bottom: 15px;
    }

    .complaint-icon{
        height: 3rem;
        width: 3rem;
    }
}
