page-compound {
    .round-icon-btns {
        border-radius: 50%;
        width:35px !important;
        height:35px !important;
        margin: 0 !important;
    }

    // canvas{
    //     position: absolute;
    // }
    #interactive.viewport {
        position: relative;
    }
    
    #interactive.viewport > canvas, #interactive.viewport > video {
        max-width: 100%;
        width: 100%;
    }
    
    canvas.drawing, canvas.drawingBuffer {
        position: absolute;
        left: 0;
        top: 0;
        //z-index: 9999;
    }

    .slide-zoom{
        height: 100%;
    }

    .card-button .button-block{
        margin:0 !important;
    }
}

