<ion-header no-border>
    <!-- <ion-item no-lines color="primary">

    </ion-item> -->
</ion-header>

<ion-content>
    <!-- <ion-item *ngIf="auth.user | async as user">
        <ion-avatar item-start><img [src]="user.photoURL"></ion-avatar>
        <h2>{{user.displayName}}</h2>
        <p>{{user.uid}}</p>
        <button ion-button item-end icon-only outline color="danger" class="btn-signout" (click)="onSignOut()">
            <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-item> -->

    <div *ngIf="auth.user | async; then userinfo else guestinfo"></div>
    <ng-template #userinfo>
        <ion-item *ngIf="auth.user | async as user">
            <ion-avatar item-start><img [src]="user.photoURL"></ion-avatar>
            <h2>{{user.displayName}}</h2>
            <p>{{user.uid}}</p>
            <button ion-button item-end icon-only outline color="danger" class="btn-signout" (click)="onSignOutClicked()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-item>
    </ng-template>
    <ng-template #guestinfo>
        <ion-item>
            <ion-avatar item-start><img src="assets/imgs/buzz.jpeg"></ion-avatar>
            <h2>Guest</h2>
            <p>Not logged in.</p>
            <button ion-button item-end icon-only outline color="secondary" class="btn-signout" (click)="onLogInClicked()">
                <ion-icon name="log-in"></ion-icon>
            </button>
        </ion-item>

    </ng-template>


    <ion-list class="settings-list">
        <ion-list-header>General</ion-list-header>
        <button ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            History
        </button>
        <button ion-item>
            <ion-icon name="car" item-start></ion-icon>
            Vehicles
        </button>
        <button ion-item>
            <ion-icon name="color-palette" item-start></ion-icon>
            Theme customization
        </button>
        <button ion-item>
            <ion-icon name="paper" item-start></ion-icon>
            News & Announcements
        </button>
        <button ion-item>
            <ion-icon name="happy" item-start></ion-icon>
            Support
        </button>
        <button ion-item>
            <ion-icon name="information-circle" item-start></ion-icon>
            About
        </button>
    </ion-list>
</ion-content>

<!-- <ion-content class="m-t-xl">
    <ion-card>
        <ion-card-header>General</ion-card-header>
        <ion-list>
            <button ion-item>
                <ion-icon name="card" item-start></ion-icon>
                Shopping
            </button>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-card-header>Appearance</ion-card-header>
        <ion-list>
            <button ion-item>
                <ion-icon name="card" item-start></ion-icon>
                Shopping
            </button>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-card-header>Other</ion-card-header>
        <ion-list>
            <button ion-item>
                <ion-icon name="card" item-start></ion-icon>
                Shopping
            </button>
        </ion-list>
    </ion-card>
</ion-content> -->

<!-- <div class="avatar-container">
    <div class="avatar-img-container">
        <img src="assets/imgs/buzz.jpeg">
    </div>
</div> -->