<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left *ngIf="!slides.isBeginning()">
            <button ion-button icon-only class="disable-hover" (click)="prevSlide()">
                <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <!-- <ion-title class="navbar-title-center">
                Complaint Types
            </ion-title> -->
        <ion-buttons right>
            <button ion-button icon-only class="disable-hover" (click)="closeModal()">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>


</ion-header>
<ion-content padding>

    <div id="main-container">

        <ion-slides #slides id="slides" style="height:100%">

            <!-- select category slide -->
            <ion-slide>
                <div>
                    <div class="grid-container">
                        <div class="gridChild" *ngFor="let icon of allCategories| async" >
                            <button  ion-button icon-only item-end (click)="selectCategory(icon)" class="round-icon-btns" [style.background]="icon.Color">
                                <img [src]="getImgSrc(icon.Name)">
                            </button>
                            <small class="icon-name">{{icon.Name}}</small>
                        </div>
                        <!-- <div class="category-container" *ngFor="let icon of allCategories| async" (click)="selectCategory(icon)"> 
                            <ion-item class="category" >
                                <ion-thumbnail item-start class="category-thumbnail">
                                    <img [src]="getImgSrc(icon.Name)" >
                                </ion-thumbnail>
                                <h4 class="icon-name">{{icon.Name}}</h4>
                            </ion-item>
                        </div> -->
                        
                    </div>
                </div>
                <!-- <ul class='circle-container'>
                        <li *ngFor="let icon of categories"><img src={{icon.ImgUrl}} alt="..." /></li>
                </ul> -->
                
            </ion-slide>

            <!-- complaint form slide -->
            <ion-slide>
                <div>
                    <ion-item>
                        <ion-label stacked>Type</ion-label>
                        <ion-input type="text" required disabled="true" [(ngModel)]="selectedIcon.Name" ngControl="title"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>Location</ion-label>
                        <ion-textarea type="text" required disabled="true" [(ngModel)]="location" ngControl="location"></ion-textarea>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>Comments</ion-label>
                        <ion-textarea [(ngModel)]="description" ngControl="description" rows="3"></ion-textarea>
                    </ion-item>
                    <ion-item>

                        <ion-row>
                            <ion-col col-3 *ngFor="let c of captures" class="img-container">
                                <button ion-button icon-only class="round-icon-btns close" (click)="removeImage(c)" item-end>
                                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                                </button>
                                <img src="{{c}}" class="uploaded-images" />
                            </ion-col>
                        </ion-row>
                        <button ion-button icon-only class="round-icon-btns" id="upload-image-btn" (click)="triggerInput()" item-end>
                            <img src="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/media-pict-camera.png">
                        </button>
                    </ion-item>
                    <input type='file' id="imgInput" multiple="multiple" accept="image/*" (change)="readUrl($event)" style="display: none;">
                </div>
            </ion-slide>
        </ion-slides>
    </div>


</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-segment [(ngModel)]="icons" color="secondary">
            <ion-segment-button (click)="closeModal()">
                Cancel
            </ion-segment-button>
            <ion-segment-button (click)="submitComplaint()" *ngIf="slides.isEnd()">
                Submit
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>