page-complaint-modal {
    // .scroll-content{
    //     background-color: #999;
    // }
    #complaint-textarea{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        padding: 10px;
        background-color: lightgrey;
    }

    .segment-md-secondary .segment-button {
        color: black;
    }

    .segment-ios .segment-button{
        border:1px solid !important;
    }

    .gridChild .icon-name{
        display:block;
        color:black;
        line-height: 25px;
    }

    .category .icon-name{
        text-align: center;
        // display:block;
        // color:black;
        // line-height: 25px;
    }

    .activated-button{
        background-color:#d9ef29 !important;
    }

    .line-horizontal{
        width:100%;
        border-bottom: 1px solid #999;
        padding: 20px;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0;
    }
    .grid-container {
        // display: grid;
        // grid-template-columns: auto auto auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .gridChild {
        // flex: 0 0 33.33%;
        // height: 100%;
        // padding: 10px;
        // text-align: center;
        // text-decoration: none;
        // color: white;
        // line-height: 50px;
        // display: block;
        // align-items: center;
        // justify-content: center;
        flex: 1 0 calc(25% - 10px);
        box-sizing: border-box;
        color: #171e42;
        padding: 5px 0;
        margin: 5px;
        max-width: 25%;
    }

    @media only screen and (max-width: 425px) {
        .gridChild {
            flex: 1 0 calc(33% - 10px);
            max-width: 33%;
        }
    }


    .toolbar-background-md {
        border-color: #b2b2b2;
        background: #26A69A;
    }
    
    
    
    .text-left{
        width: 100%;
        float: left;
        text-align: left;
    }
    

    .max-height{
        height: 100%;
    }

    .large-round-icon-btn{
        width:5.5em !important;
        height:5.5em !important;
        display: inline-block;
        padding: 10px;
    }

    .round-icon-btns{
        text-align: center;
        border-radius: 50%;
        width:5em;
        height:5em;
        margin: 0;
        background-color: #d1ecb7;
    }
    
    .gridChild .button-inner{
        padding:10px;
    }


    .gridChild .button-inner > img{
        width:65px;
        height: 65px;
    }

    

    .navbar-title-center{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #video {
        background-color: #000000;
    }
    #canvas {
        display: none;
    }
    li {
        display: inline;
        padding: 5px;
    }
    .img-container {
        text-align: center;
        color: #2c3e50;
        height: 5em;
        // border:1px solid #999;
        position: relative;
        justify-content: center;
    }

    .img-container .close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        height: 1em !important;
        width: 1em !important;
        margin:0;
        background-color: red;
    }
    

    .uploaded-images{
        border:1px solid #999;
        height: 100% !important;
        width: 100% !important;
    }

    #upload-image-btn{
        width: 3em !important;
        height: 3em !important;
    }

    #main-container{
        display:flex;
        flex-direction: column;
        height:100%;
    }

    #slides{
        height: 100%;
    }

    #complaint-form{
        flex-grow: 1;
    }

    /* Fade-In Effect */
    .visible
    {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
    }

    /* Fade-Out Effect */
    .hidden
    {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear;
    }

    .display-block{
        display: block;
    }

    .display-none{
        display: none;
    }

    #subCategories{
        justify-content: center;
    }

    textarea {
        resize: none;
      }

      .swiper-slide{
          overflow-y: auto;
          display: block;
      }

      //categories
      .label-md {
        margin: 0;
        // text-align: center;
    }

    .category-container{
        width: 45%;
        margin: 5px;
    }

    .category{
        background: gold;
        border-radius: 7px;
    }

    .category-thumbnail{
        width: 40px !important;
        height: 40px !important;
        min-width: 40px;
        min-height: 40px;
        margin:8px 2px !important;
    }

    .category-thumbnail > img{
        width: 40px;
        height: 40px;
    }

      //circle
    //   @mixin on-circle($item-count, $circle-size, $item-size) {
    //     position: relative;
    //     width:  $circle-size;
    //     height: $circle-size;
    //     padding: 0;
    //     border-radius: 50%; 
    //     list-style: none;       
        
    //     > * {
    //       display: block;
    //       position: absolute;
    //       top:  50%; 
    //       left: 50%;
    //       width:  $item-size;
    //       height: $item-size;
    //       margin: -($item-size / 2);
        
    //       $angle: (360 / $item-count);
    //       $rot: 0;
      
    //       @for $i from 1 through $item-count {
    //         &:nth-of-type(#{$i}) {
    //           transform: 
    //             rotate($rot * 1deg) 
    //             translate($circle-size / 2) 
    //             rotate($rot * -1deg);
    //         }
      
    //         $rot: $rot + $angle;
    //       }
    //     }
    //   }

    //   .circle-container {
    //     @include on-circle($item-count: 12, $circle-size: 80%, $item-size: 4.5em); 
    //     margin: 3em auto;
    //     //border: solid 5px tomato;
        
    //     img { 
    //       display: block; 
    //       max-width: 100%; 
    //       border-radius: 50%;
    //       filter: grayscale(100%);
    //       border: solid 5px tomato;
    //       transition: .15s;
          
    //       &:hover,
    //       &:active {
    //         filter: grayscale(0);
    //       }
    //     }
    //   }
}
