page-home {
    .location-canvas-container{
        height: 100px;
        overflow: hidden;
    }
    .card-button > button {
        color: color($colors, unfocused);
    }
    .card-button.selected > button {
        color: color($colors, primary);
    }
    .location-image-container{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in;
    }
    .location-image-container.expanded{
        max-height: 600px;
    }

    //Deals

    .swiper-slide{
        height: 220px;
        // width:auto !important;

        .slide-zoom{
            height: 100% !important;
        }
    }

    .deals-background{
        background-color: red;
    }

.card-background-page {
    ion-slides{
        margin: auto;
    }


  ion-card {
    position: relative;
    text-align: center;
    height: 200px;
    margin: auto;
  }

  .card-title {
    position: absolute;
    //top: 36%;
    font-size: 1.0em;
    //width: 100%;
    font-weight: bold;
    color: #fff;
    display: block;
    bottom: 0;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  img.cropped-profile-pic{
            // display:block; /*remove inline-block spaces*/  
            width:100%;
            height: 100%;
            // border-radius: 15px;
            // margin:-10% 0 -70% 0;
        }

}

      .deals-header h2{
        font-weight: bold;
        color:#fff;
          
      }
}
