<ion-navbar color="primary">
  <ion-buttons left>
    <button ion-button icon-only class="disable-hover" (click)="goToCreditsTab()" >
      <ion-icon name="cube"></ion-icon>
      <span class="m-l-xs">1830</span>
    </button>
    <!-- <button ion-button icon-only>
      <img src="assets/imgs/logo_pwa.png" width="30" height="30"/>
    </button> -->
  </ion-buttons>
  <ion-title class="navbar-title-center">
    {{title}}
  </ion-title>
  <ion-buttons right>
    <button ion-button icon-only class="disable-hover">
      <ion-icon name="notifications"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>