
<ion-header [ngStyle]="{'visibility': hideSlider ? 'hidden' : 'visible' }">
        <ion-navbar color="primary" >
            <ion-buttons left *ngIf="!slides.isBeginning()">
                    <button ion-button icon-only class="disable-hover" (click)="prevSlide()" >
                        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                    </button>
                </ion-buttons>
            <ion-title class="navbar-title-center">
                Restaurants near you
            </ion-title>
            <ion-buttons right>
                <button ion-button icon-only class="disable-hover" (click)="closeModal()">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>

    
</ion-header>
<ion-content padding [ngStyle]="{'visibility': hideSlider ? 'hidden' : 'visible' }">
    <ion-slides #slides (ionSlideDidChange)="showSlider()">
        <ion-slide >
            <ion-list>
                <ion-item *ngFor="let item of suggestions ;let i = index">
                    <ion-thumbnail item-start>
                        <img [src]="getImgSrc(i)">
                    </ion-thumbnail>
                    <h2>{{item.venue.name}}</h2>
                    <p>{{item.venue.categories[0].name}}</p>
                    <div item-end>
                        <ion-buttons class="deals-list-buttons">
                            <button ion-button small icon-only class="disable-hover" (click)="selectItem(item,i)" >
                                <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
                            </button>
                            <button ion-button small icon-only class="disable-hover" (click)="share()" >
                                <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
                            </button>
                        </ion-buttons>
                    </div>
                          
                    <!-- <button ion-button clear item-end (click)="selectItem(item,i)">View</button> -->
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <div class="img-container">
                    <img [src]="getImgSrc(selectedItem?.index)"/>
                </div>
                
                <ion-card-content>
                    <ion-card-title>
                        {{selectedItem?.venue.name}}
                    </ion-card-title>
                    <!-- <p>Category: {{selectedItem.venue.categories[0].name}}</p>
                    <br> -->
                    <p>{{selectedItem?.venue.location.formattedAddress}}</p>
                    <br>
                    <h4>Only {{selectedItem?.venue.location.distance}}m away!</h4>
                    <br>
                    <!-- <ion-item>
                        <span item-start><ion-icon ios="ios-walk" md="md-walk"></ion-icon> 8 min</span>
                        <span item-start>({{selectedItem.venue.location.distance}} metres)</span>
                        <button ion-button icon-start clear item-end>
                            <ion-icon name="navigate"></ion-icon>
                            Start
                        </button>
                    </ion-item> -->
                    <button ion-button block color="secondary" >Redeem</button>
                </ion-card-content>
            </ion-card>
            
        </ion-slide>
    </ion-slides>   
    
</ion-content>