page-deals-modal {
    .slide-zoom{
        height: 100%;
    }

    .img-container{
        width:100%;
        background: black;
        img{
            width: auto;
            display: initial;
        }
    }

    .swiper-slide-active{
        overflow-y: auto;
    }
    
    .deals-list-buttons button{
        width: 25px;
        height: 25px;
    }

    .popover-content{
        width: 80%;
        margin: auto;
        position: relative;
    }


    
}
