google-map {
    .map-canvas{
        min-height: 100px;
        min-width: 100px;
        width: 100%;
        height: 100%;
    }
    .overlay{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    .error-container{
        color: color($colors, danger);
    }
    .error-container ion-icon{
        font-size: 5rem;
    }
    .control-ui {
        background-color:  #fff;
        border: 1px solid #fff;
        border-radius:  3px;
        box-shadow: 0 2px 6px rgba(0,0,0,.3);
        cursor: pointer;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom:  22px;
        text-align:  center;
    }
    .control-ui.icon-only{
        height: 40px;
        width: 40px;
        .control-text {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
    .control-ui.button-md:hover:not(.disable-hover){
        background-color: #ddd;
    }
    .control-text {
        color: rgb(25,25,25);
        font-family: Roboto,Arial,sans-serif;
        font-size: 16px;
        line-height:  38px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .control-bar {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 5px;
        max-width: 420px;
    }

    .control-searchbar-container{
        display:flex;
    }  
}

    ion-fab[bottom] {
        bottom: 20px;
    }
    
    ion-fab.hide-fab-btm-left{
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    ion-fab.hide-fab-btm-left.show{
        margin-left: 0;
        opacity: 1;
    }
    
    .incident-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0; 
        overflow: hidden;
        max-width: 600px;
        transition: margin-top 0.3s ease-out;
        margin-top: -160px;
        padding-bottom: 5px;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
    .incident-wrapper.show{
        margin-top: 0;
    }

    .incident-wrapper > .incident-container {
        max-height: 130px;
        transition: max-height 0.5s ease-in-out;
    }

    .incident-container > ion-card-content {
        padding-bottom: 0;
    }
    
    #complain-pin-bg{
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    #complain-pin{
        background-image: url("https://cdn3.iconfinder.com/data/icons/user-interface-icons-bundle-17/32/882-512.png");
        background-size: cover; 
        position: absolute; 
        bottom: 25px; 
        right: 15px; 
        width: 40px; 
        height: 40px;
        transition: left 0.05s ease-out, top 0.05s ease-out;
    }

// Google Maps Place Search Autocomplete
//.pac-container{
//    margin-top: -225px;
//}


/* Draggable*/

.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c763d dashed 2px;
}

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

.drag-transit {
    border: #3500FF dashed 2px;
}