<!-- Map Canvas -->
<div [id]="canvasId" class="map-canvas">
</div>

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="overlay">
    <div class="spinner-container m-auto">
        <ion-spinner large name="crescent"></ion-spinner>
        <div class="spinner-text">Loading Map...</div>
    </div>
</div>

<!-- Error Message -->
<div *ngIf="errorStatus" class="overlay" [style.background-color]="'#fff'">
    <div class="error-container m-auto">
        <ion-icon large name="close-circle"></ion-icon>
        <div class="m-l-xxl m-r-xxl">{{errorMessage}}</div>
    </div>
</div>

<div *ngIf="options?.controls?.searchbar" class="control-bar" >
    <!-- Place Search Controls  -->
    <div class="control-container">
        <div class="control-searchbar-container">
            <ion-searchbar #searchbar item-start [(ngModel)]="placeSearchInput" placeholder="Search Places" animated></ion-searchbar>
        </div>
    </div>
    <!-- <div class="control-container">
        <div>Is Polygon within 111m of Point: {{isPointNearPolygon}}</div>
        <button ion-button class="control-ui icon-only" (click)="checkPointNearPolygon()">
            <div class="control-text">
                <ion-icon name="refresh-circle"></ion-icon>
            </div>
        </button>
    </div> -->
    <!-- <div class="control-container">
        <button ion-button class="control-ui icon-only">
            <div class="control-text">
                <ion-icon name="trash"></ion-icon>
            </div>
        </button>
        <button ion-button class="control-ui icon-only">
            <div class="control-text">
                <ion-icon name="close-circle"></ion-icon>
            </div>
        </button>
    </div> -->
</div>

<ion-fab *ngIf="options?.controls?.locationUpdate" bottom right>
    <button ion-fab (click)="confirmLocation()" color="secondary-d2"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>

<ion-fab *ngIf="options?.controls?.recenter" bottom left class="hide-fab-btm-left" [class.show]="showRecenterFab">
    <button ion-fab (click)="centerMapOnMarker()" color="dark"><ion-icon name="locate"></ion-icon></button>
</ion-fab>

<div [id]="canvasId + '_incident-info'" class="incident-wrapper">
    <ion-card class="incident-container">
        <ion-card-header ion-item>
            <ion-icon item-right name="walk"></ion-icon>
            {{selectedIncident?.category}}
        </ion-card-header>
        <ion-card-content>
            <div class="block-with-text">
                {{selectedIncident?.description}}
            </div>
        </ion-card-content>
        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
            </ion-col>
            <ion-col align-self-center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
</div>


<!-- <div *ngIf="options?.controls?.complaint" style="position:absolute; bottom: 10px; right: 10px;">
    <div id="draggablePin" draggable (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" style="display:inline-block;">
        <img style="max-height: 60px;" src="https://cdn0.iconfinder.com/data/icons/20-flat-icons/128/location-pointer.png">
    </div>
</div> -->
<div *ngIf="options?.controls?.complaint" id="complain-pin-bg"></div>
<div *ngIf="options?.controls?.complaint" id="complain-pin"></div>

