page-complaint {

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .gridChild{
        line-height: 40px;
    }

    .st-btn-container {
        width: 56px;
        height: 56px;
        
    }

    .round-icon-btns{
        border-radius: 50%;
        width:35px;
        height:35px;
        margin: 0;
    }
}
