page-mp-complaint-modal-list {
    .complaint-header{
        background: lightslategray;

        h2{
            color:white;
        }
    }

    .complaint-icon{
        height: 3rem;
        width: 3rem;
    }
   
}
